@media (max-width: 65rem) {
  #section-scroller {
    display: none;
  }
}
@media (max-width: 60rem) {
  .large-nav > .nav-links {
    display: none;
    padding: 0 5%;
  }

  .large-nav {
    background: transparent;
  }

  .small-nav {
    display: inline-block;
  }
  
  .hero {
    padding: 0 5%;
  }
}

@media (max-width: 50rem) {
  :root {
    --hero: 2rem;
    --title: 1.3rem;
    --subtitles: 18px;
    --p: 14px;
  }

  .excess {
    display: none;
  }
  
  .hero {
    padding: 8rem 5% 1rem 5%;
    flex-direction: column;
    gap: 2rem;
  }

  .hero-img {
    width: clamp(100px, 40%, 300px);
  }

  .btn {
    padding: 6px 14px;
  }

  main > div > .container {
    padding: 0.5rem;
  }

  .about > .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  
  .section {
    padding: 1rem;
  }

  .section > .btns-section {
    justify-content: center;
  }

  #scroll-down {
    left: 89%;
    translate: -50% -50%;
    bottom: 7%;
  }

  .experience > .container {
    max-width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .experience .card {
    padding: 1rem;
  }

  #education,
  #courses {
    text-align: center;
  }

  #skills {
    grid-row:auto;
    grid-column: 1 / -1;
  }

  #skills > .container {
    max-width: 100%;
    padding: 0.5rem;
    justify-self: center;
    grid-template-columns: repeat(auto-fit, clamp(120px, 1fr, 150px));
    gap: 0.7rem 0.2rem;
  }

  .skill-name {
    font-size: var(--p);
  }
  .skill > .light-text {
    font-size: 12px;
  }

  .projects > .container {
    width: 100%;
  }

  .media-h-scroll {
    padding: 0.5rem 0.5rem;
  }
}

@media (max-width: 40rem) {
  .experience > .container {
    grid-template-columns: 1fr;
  }
}